<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to balena!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="public/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="public/main.css" />
  </head>
  <body>
    <div class="container mt-5 mb-5 p-0 pb-5">
      It's Neurosity time baby.
    </div>

    <canvas id="canvas"></canvas>
    <script src="public/confetti.js"></script>
  </body>
</html>
